body{
    margin: 0;
}
form > input{
    background: #00000054;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid rgba(24, 76, 173, 0.801);
}
input::placeholder{
    color: rgb(89, 87, 87);
}
.btn{
    background: linear-gradient(to right, #ffafbd, #ffc3a0,#fcd1b8);
    color: white;
    font-weight: 800;
    font-size: 1rem;
    border: none;
    min-width: 140px;
}
.btn:hover{
    background: linear-gradient(to left, #ffafbd, #ffc3a0, #fbd6c1);
}